<!DOCTYPE html>
<html>

<head>
    <title>Test Timer API</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<body>
    <h1>Create Timer</h1>
    <form action="http://localhost:8000/timer" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


        <label for="hours">Hours:</label>
        <input type="number" id="hours" name="hours" value="0" required><br><br>

        <label for="minutes">Minutes:</label>
        <input type="number" id="minutes" name="minutes" value="1" required><br><br>

        <label for="seconds">Seconds:</label>
        <input type="number" id="seconds" name="seconds" value="0" required><br><br>

        <label for="url">URL:</label>
        <input type="text" id="url" name="url" value="https://example.com" required><br><br>

        <input type="submit" value="Create Timer">
    </form>
</body>

</html>